@use "../../../../styles/variables" as *;

#ins-signup-box {
  .not-first-time {
    @extend .text-sm;

    color: $dark-gray;
    margin-bottom: 2rem;
  }

  .conditions {
    @extend .text-sm;

    width: 100%;
    text-align: center;
    color: $gray;
  }
}
